* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFE8CD;
}

#pageTitle {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    margin-bottom: 60px;

}

#mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

#buttonsSection {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 30px;
}

#container {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 706px;
    height: 706px;
}

.menuBtn {
    padding: 30px;
    font-size: 13px;
    background-color: #FFD6BA;
    border-radius: 50px;
    font-style: italic;
    
}

.gridBox {
    border: 3px solid black;
    background-color: #FFDCDC;
}

#resetBox {
    background-color: #FFDCDC;
}