* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#roundText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resetButton {
    color: white;
    background-color: green;
}